body {
    background-image: url("../images/img/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
.footer{
    background-color:rgba(139, 69, 19, 0.459)

}

.text-faded {
  color:var(--bs-body-color);
}
.text-primary {
  --bs-text-opacity: 1;
  color:var(--bs-body-color) !important;
}

.mainNav{
  background-color: rgba(139, 69, 19, 0.459);
}

.row{
  background-color: rgba(139, 69, 19, 0)
}
#mainNav{
  background-color: rgba(139, 69, 19, 0.459)
}
.cta{
  background-color: rgba(139, 69, 19, 0)
}
.footer{
  color: white;
}
.about-heading .about-heading-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.reg{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.education{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}
@media (min-width: 768px) {

  .mine{
  height: 40%;
  width: 36%;
  z-index: 9999999;
  margin: auto;
}

.col-xl-9 {
  flex: 0 0 auto;
  width: 60%;
}
}
.site-heading-upper{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}
.section-heading-upper{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}